{% extends 'base.html' %}

{% block title %} Registrate {% endblock title %}

{% block content %}
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Registrate</h1><br>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{user_form.as_p}}
            <input type="submit" value="Registrate" class="btn btn-primary">
        </form>
        <div class="login-help">
          <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</div>
{% endblock content %}
