{% extends 'base.html' %}

{% block title %} {{book.title}} {% endblock title %}

{% block content %}
  <div class="book">
    <div class="jumbotron">

      {% if book.owner == request.user %}
      <div class="actions">
        <a id="deleteBook" href="{% url 'book_edit' slug=book.slug %}" class="btn btn-info"><span class="fa fa-pencil-square-o fa-lg"></span> Editar</a>
        <a href="{% url 'book_remove' slug=book.slug %}" class="btn btn-danger"><span class="fa fa-trash-o fa-lg"></span> Borrar</a>
        {% if book.published_date %}
          <div class="date">
            {{book.published_date}}
          </div>
        {% else %}
          <a href="{% url 'book_publish' slug=book.slug %}" class="btn btn-success"><span class="fa fa-pencil fa-lg"></span> Publicar</a>
        {% endif %}
      </div>
      {% endif %}
      <h2 class="b_d_title">{{book.title}}</h2>
      <p class="book_autor">Autor: {{book.autor}}</p>
      <p class="book_description">{{book.description}}</p>
      <div class="buttonn">
        <a href="{{book.files.url}}" class="btn btn-primary">Ver <span class="fa fa-eye fa-lg"></span> </a>
      </div>
    </div>
  </div>
  <style type="text/css">
  .actions{
    text-align: center;
  }
  .btn-success{
    background-color: green;
    border-color: green;
  }
    .book{
      margin-top: 100px;
    }
    .b_d_title{
      text-align: center;
    }
    .book_autor{
      text-align: center;
    }
    .book_description{
      text-align: center;
    }
    .buttonn{
      text-align: center;
    }
    .actions{

    }
  </style>

{% endblock content %}
