{% extends 'base.html' %}

{% block title %} Subir nuevo archivo {% endblock title %}

{% block content %}
<div class="container" id="upload-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Sube un nuevo recurso</h1><br>
      <form id="body-form" role="form" action="{% url 'UploadBook' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{form.as_p}}
          <input type="submit" value="Subir" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
 <style type="text/css" media="screen">

  .btn-success{
    background-color: green;
    border-color: green;
    width: 250px;
  }
  #upload-form{
    background-color: #fff;
    padding: 15px 15px 15px 15px;
    box-shadow: 3px 3px 15px #2f2f2f;
  }
  #body-form{
    margin-top: 25px;
  }

 </style>
{% endblock content %}
