
{% load widget_tweaks %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1" id="cont-com">
      <form action="{% url 'add_comment_to_book' pk=book.pk %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary"><span class="fa fa-commenting-o fa-lg"></span> Comentar</button>
      </form>
      <hr>
    </div>
  </div>
</div>
<style type="text/css" media="screen">
  #cont-com{
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 10px;
  }
</style>
