{% extends 'base.html' %}

{% block title %} {{request.user.email }} {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<div class="container p_container">
  <div class="row">
    <div class="col-md-3 c4">
      <ul class="list-group lg1">
        <li class="list-group-item"><a href="{% url 'profile_update' username=user.username %}"><span class="fa fa-user fa-lg">

        </span> Editar Perfil</a></li>
        <li class="list-group-item"><a href="{% url 'password_change' %}"><span class="fa fa-key fa-lg">

        </span> Cambiar Contraseña</a></li>
        <li class="list-group-item"></li>
      </ul>
    </div>

    <div class="col-md-9 c8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 style="text-align: center;">Información de Usuario</h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">

            </div>
          </div>
        </div>
        {% if user.profile.pic %}
        <div class="panel-body">
          <div class="img-res">
            <img src="{{user.profile.pic.medium.url}}" alt="{{user.get_full_name}}" class="img-responsive img-circle">
          </div>
        {% endif %}
          <hr>
          <div class="degree">
            <h3 class="title-u">Semestre: </h3>
            <h3>{{user.profile.semestre}}</h3>
          </div>
          <hr>
          <div class="degree">
            <h3 class="title-u">Carrera: </h3>
            <h3>{{user.profile.degree}}</h3>
          </div>
          <hr>
          <div class="degree">
            <h3 class="title-u">Semestre: </h3>
            <h3>{{user.profile.semestre}}</h3>
          </div>
          <hr>
          <div class="degree">
            <h3 class="title-u">Matricula: </h3>
            <h3>{{user.profile.matricula}}</h3>
          </div>
          <hr>
          {% if request.user == user %}
          <div class="degree">
            <h3 class="title-u">Miembro desde: </h3>
            <h3>{{user.profile.created_date}}</h3>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.degree{
  text-align: center;
}
.img-res{
  width: 200px;
  margin: 0 auto;

}
  .lg1{
    margin-top: 25px;
  }
  .p_container{
    margin-top: 100px;
  }
  .lg1 a{
    text-decoration: none;
  }
</style>

{% endif %}
{% endblock content %}
