{% extends 'base.html' %}

{% block title %} Actualizar Perfil {% endblock title %}

{% block content %}
<div class="container" id="contenedor-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Actualizar Perfil</h1><br>
      <form role="form" action="." method="post" enctype="multipart/form-data" id="user-form">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <button type="submit" class="btn btn-success"><span class="fa fa-floppy-o"></span> Guardar</button>
      </form>
    </div>
  </div>
</div>

<style type="text/css" media="screen">
  #contenedor-form{
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px 3px 15px #222;
  }
  .btn-success{
    background-color: green;
    border-color: green;
    width: 250px;
    float: right;
  }
  select{
    border-radius: 5%;
  }
  #user-form{
    margin-top: 25px;
    padding: 15px 15px 15px 15px;
  }
</style>
{% endblock content %}
